@import './header.scss';
.layout_main {
    height: 100vh;
    box-sizing: border-box;
    .layout_header {
        height: 50px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        box-sizing: inherit;
    }
    .layout_content {
        height: calc(100% - 50px);
        .layout_sider {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .layout_content_content {
            // height: calc(100% - 50px);
            padding: 10px;
            box-sizing: inherit;
            display: flex;
            flex-direction: column;
            .layout_content_content_card {
                flex: 1;
                background-color: transparent;
                // height: 100%;
            }
        }
        .layout_content_background {
            background-color: #f3f3f3;
        }
    }
}